@media (max-width: 768px) {
    .donation-logo {
      display: none !important;
    }
  }
.donation-card {
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 1rem;
}